* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 14px;
  padding: 0px 10px;
  background-color: rgb(208, 208, 208);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;
  background-color: rgb(208, 208, 208);
  padding: 10px;
}

.item {
  background-color: white;
}
